[Unit]
Description=Limit battery thresold

[Service]
ExecStart=/home/your_user_name/asus/asuscharge70.sh
Restart=always
WorkingDirectory=/home/your_user_name/
User=root

[Install]
WantedBy=multi-user.target
